.client-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    background-color: whitesmoke;
}
.client-section>h1{
    margin:3rem 1rem;
    font-size: 3rem;
    border-bottom: 2px solid black;
    width: fit-content;
}
.client-container{
    width: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
}
.client-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 2px solid transparent;
    border-radius: 13px;
    /* background-color: rgb(243, 243, 243); */
    background-color: white;
}
.client-card>img{
    height: 4rem;
    width: 4rem;
    margin: 3rem 0px;
    border: 2px solid transparent;
    border-radius: 100%;
}
.client-card>p{
    margin: 13px 0px;
    padding: 13px;
    width: 17rem;
    text-align: center;
    font-size: 1.5rem;
}
.client-card>h1{
    margin: 13px 0;
}
.client-card>h3{
    margin: 13px 0;
    font-size: 23px;
}

.client-card .client-name{
    text-align: center;
}

@media only screen and (max-width: 1024px){
    .client-section{
        max-width: 100vw;
        width: 100%;
    }

    .client-section-h1{
        width: 70%;
        text-align: center;
    }

    .client-section>h1{
        width: 80%;
    }

    .client-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2rem;
    }
    .client-card{
        width: 75%;
        margin: 1rem 2rem;
    }

    .client-card p{
        width: fit-content;
    }

    .client-card>h3{
        margin: 33px 0;
        font-size: 33px;
    }
}