.footer-section{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    width: 100%;
    margin-bottom: 0px;
}
.footer-section>div{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}


.socials{
    filter: invert(100%);
    margin: 0px 3px;
}

.footer-section .socials{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}

.logo>img{
    height: 3.25rem;
	width: 6.5rem;
}
.contact-email{
    color: white;
    font-size: 23px;
}
.copyright{
    margin: 13px;
}
@media only screen and (max-width: 1024px){
    .footer-section{
        max-width: 110vw;
        width: 100%;
        flex-direction: column;
    }
    .footer-section>div{
        width: 100%;
        margin: 13px 0;
    }
   

    .footer-section>.contact-email{
        max-width: 80vw;
        width: 100%;
    }

    .footer-section>.contact-email>p,
    .footer-section>.copyright>p{
        text-align: center;
        font-size: 1.5rem;
    }

    .footer-section>.copyright{
        max-width: 80vw;
    }
}