* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.portfolio-section {
  margin-top: 4rem;
}

.portfolio-section h1 {
  text-align: center;
  font-size: 2.5rem;
}

.images {
  overflow: hidden;
  margin: 60px 0;
  white-space: nowrap;
  position: relative;

}

.images::before,
.images::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: " ";
  z-index: 2;
}

.images::after {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.images::before {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.images:hover .image-slide {
  animation-play-state: paused;
}

.image-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}

.image-slide img {
  height: 300px;
  width: 500px;
  margin: 0 40px;
  border-radius: 9px;
}

@media only screen and (max-width: 1024px) {
  .portfolio-section {
    margin-top: 2rem;
  }

  .image-slide img {
    height: 180px;
    width: 300px;
    margin: 0 40px;
    border-radius: 9px;
  }

  .portfolio-section h1 {
    text-align: center;
    font-size: 2rem;
  }

  .images::after {
    left: 0;
    background: none;
  }

  .images::before {
    right: 0;
    background: none;
  }
}